
@model IEnumerable<LogicUniversityWeb.Models.ViewModel.DelegationViewModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@{
    <table border="1">
        <thead>
            <tr>
                <td>
                    Delegation Id
                </td>
                <td>
                    User Name
                </td>
                <td>
                    Department Name
                </td>
                <td>
                    StartDate
                </td>
                <td>
                    EndDate
                </td>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DelegationID)
                </td>
                <td id=@String.Format("s{0}", @item.DelegationID)>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

            </tr>
        }

    </table>
    <br />


}
